<div>
  <h2 id="page-heading" data-cy="SaleHeading">
    <span jhiTranslate="partnerizeApp.sale.home.title">Sales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="partnerizeApp.sale.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sale"
        [routerLink]="['/sale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="partnerizeApp.sale.home.createLabel"> Create a new Sale </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sales?.length === 0">
    <span jhiTranslate="partnerizeApp.sale.home.notFound">No Sales found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sales && sales.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="saleId">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.saleId">Sale Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoice">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.invoice">Invoice</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.totalAmount">Total Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tax">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.tax">Tax</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="couponCode">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.couponCode">Coupon Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="couponAmount">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.couponAmount">Coupon Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="on">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.on">On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currency.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.currency">Currency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.customer">Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="partner.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.partner">Partner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.sale.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sale', sale.id, 'view']">{{ sale.id }}</a>
          </td>
          <td>{{ sale.saleId }}</td>
          <td>{{ sale.invoice }}</td>
          <td>{{ sale.totalAmount }}</td>
          <td>{{ sale.tax }}</td>
          <td>{{ sale.couponCode }}</td>
          <td>{{ sale.couponAmount }}</td>
          <td>{{ sale.on | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="sale.currency">
              <a [routerLink]="['/currency', sale.currency.id, 'view']">{{ sale.currency.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sale.customer">
              <a [routerLink]="['/customer', sale.customer.id, 'view']">{{ sale.customer.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sale.partner">
              <a [routerLink]="['/partner', sale.partner.id, 'view']">{{ sale.partner.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sale.company">
              <a [routerLink]="['/company', sale.company.id, 'view']">{{ sale.company.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/sale', sale.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
