<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contract-heading" data-cy="ContractCreateUpdateHeading" jhiTranslate="partnerizeApp.contract.home.createOrEditLabel">
        Create or edit a Contract
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'partnerizeApp.ContractType.null' | translate }}</option>
            <option *ngFor="let contractType of contractTypeValues" [value]="contractType">
              {{ 'partnerizeApp.ContractType.' + contractType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.startAt" for="field_startAt">Start At</label>
          <div class="d-flex">
            <input
              id="field_startAt"
              data-cy="startAt"
              type="datetime-local"
              class="form-control"
              name="startAt"
              formControlName="startAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.endAt" for="field_endAt">End At</label>
          <div class="d-flex">
            <input
              id="field_endAt"
              data-cy="endAt"
              type="datetime-local"
              class="form-control"
              name="endAt"
              formControlName="endAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.billingCycle" for="field_billingCycle">Billing Cycle</label>
          <select class="form-control" name="billingCycle" formControlName="billingCycle" id="field_billingCycle" data-cy="billingCycle">
            <option [ngValue]="null">{{ 'partnerizeApp.BillingCycle.null' | translate }}</option>
            <option *ngFor="let billingCycle of billingCycleValues" [value]="billingCycle">
              {{ 'partnerizeApp.BillingCycle.' + billingCycle | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.fixedRate" for="field_fixedRate">Fixed Rate</label>
          <input type="number" class="form-control" name="fixedRate" id="field_fixedRate" data-cy="fixedRate" formControlName="fixedRate" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.commisionPercent" for="field_commisionPercent"
            >Commision Percent</label
          >
          <input
            type="number"
            class="form-control"
            name="commisionPercent"
            id="field_commisionPercent"
            data-cy="commisionPercent"
            formControlName="commisionPercent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.commisionRate" for="field_commisionRate">Commision Rate</label>
          <input
            type="number"
            class="form-control"
            name="commisionRate"
            id="field_commisionRate"
            data-cy="commisionRate"
            formControlName="commisionRate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.currency" for="field_currency">Currency</label>
          <select
            class="form-control"
            id="field_currency"
            data-cy="currency"
            name="currency"
            formControlName="currency"
            [compareWith]="compareCurrency"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="currencyOption" *ngFor="let currencyOption of currenciesSharedCollection">{{ currencyOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.partner" for="field_partner">Partner</label>
          <select
            class="form-control"
            id="field_partner"
            data-cy="partner"
            name="partner"
            formControlName="partner"
            [compareWith]="comparePartner"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="partnerOption" *ngFor="let partnerOption of partnersSharedCollection">{{ partnerOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.contract.company" for="field_company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="companyOption" *ngFor="let companyOption of companiesSharedCollection">{{ companyOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
