<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-partner-payment-heading"
        data-cy="PartnerPaymentCreateUpdateHeading"
        jhiTranslate="partnerizeApp.partnerPayment.home.createOrEditLabel"
      >
        Create or edit a Partner Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.invoice" for="field_invoice">Invoice</label>
          <input type="text" class="form-control" name="invoice" id="field_invoice" data-cy="invoice" formControlName="invoice" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.totalAmount" for="field_totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.tax" for="field_tax">Tax</label>
          <input type="number" class="form-control" name="tax" id="field_tax" data-cy="tax" formControlName="tax" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.on" for="field_on">On</label>
          <div class="d-flex">
            <input
              id="field_on"
              data-cy="on"
              type="datetime-local"
              class="form-control"
              name="on"
              formControlName="on"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'partnerizeApp.PaymentStatus.null' | translate }}</option>
            <option *ngFor="let paymentStatus of paymentStatusValues" [value]="paymentStatus">
              {{ 'partnerizeApp.PaymentStatus.' + paymentStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.reason" for="field_reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.contract" for="field_contract">Contract</label>
          <select
            class="form-control"
            id="field_contract"
            data-cy="contract"
            name="contract"
            formControlName="contract"
            [compareWith]="compareContract"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="contractOption" *ngFor="let contractOption of contractsSharedCollection">{{ contractOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.partner" for="field_partner">Partner</label>
          <select
            class="form-control"
            id="field_partner"
            data-cy="partner"
            name="partner"
            formControlName="partner"
            [compareWith]="comparePartner"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="partnerOption" *ngFor="let partnerOption of partnersSharedCollection">{{ partnerOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.partnerPayment.company" for="field_company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="companyOption" *ngFor="let companyOption of companiesSharedCollection">{{ companyOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
