<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="partner">
      <h2 data-cy="partnerDetailsHeading"><span jhiTranslate="partnerizeApp.partner.detail.title">Partner</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ partner.id }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.name">Name</span></dt>
        <dd>
          <span>{{ partner.name }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.type">Type</span></dt>
        <dd>
          <span>{{ partner.type }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.region">Region</span></dt>
        <dd>
          <span>{{ partner.region }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.country">Country</span></dt>
        <dd>
          <span>{{ partner.country }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.status">Status</span></dt>
        <dd>
          <span>{{ partner.status }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.card">Card</span></dt>
        <dd>
          <div *ngIf="partner.card">
            <a [routerLink]="['/card', partner.card.id, 'view']">{{ partner.card.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.partner.company">Company</span></dt>
        <dd>
          <div *ngIf="partner.company">
            <a [routerLink]="['/company', partner.company.id, 'view']">{{ partner.company.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/partner', partner.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
