<div>
  <h2 id="page-heading" data-cy="PartnerHeading">
    <span jhiTranslate="partnerizeApp.partner.home.title">Partners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="partnerizeApp.partner.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partner"
        [routerLink]="['/partner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="partnerizeApp.partner.home.createLabel"> Create a new Partner </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partners?.length === 0">
    <span jhiTranslate="partnerizeApp.partner.home.notFound">No Partners found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="partners && partners.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="region">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.region">Region</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.country">Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="card.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.card">Card</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="partnerizeApp.partner.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partner', partner.id, 'view']">{{ partner.id }}</a>
          </td>
          <td>{{ partner.name }}</td>
          <td>{{ partner.type }}</td>
          <td>{{ partner.region }}</td>
          <td>{{ partner.country }}</td>
          <td>{{ partner.status }}</td>
          <td>
            <div *ngIf="partner.card">
              <a [routerLink]="['/card', partner.card.id, 'view']">{{ partner.card.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="partner.company">
              <a [routerLink]="['/company', partner.company.id, 'view']">{{ partner.company.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(partner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
