<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span jhiTranslate="partnerizeApp.customer.detail.title">Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.customer.name">Name</span></dt>
        <dd>
          <span>{{ customer.name }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.customer.partner">Partner</span></dt>
        <dd>
          <div *ngIf="customer.partner">
            <a [routerLink]="['/partner', customer.partner.id, 'view']">{{ customer.partner.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.customer.company">Company</span></dt>
        <dd>
          <div *ngIf="customer.company">
            <a [routerLink]="['/company', customer.company.id, 'view']">{{ customer.company.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
