<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-company-heading" data-cy="CompanyCreateUpdateHeading" jhiTranslate="partnerizeApp.company.home.createOrEditLabel">
        Create or edit a Company
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.company.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.company.region" for="field_region">Region</label>
          <input type="text" class="form-control" name="region" id="field_region" data-cy="region" formControlName="region" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.company.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.company.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partnerizeApp.company.card" for="field_card">Card</label>
          <select class="form-control" id="field_card" data-cy="card" name="card" formControlName="card" [compareWith]="compareCard">
            <option [ngValue]="null"></option>
            <option [ngValue]="cardOption" *ngFor="let cardOption of cardsCollection">{{ cardOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
