<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span jhiTranslate="partnerizeApp.company.detail.title">Company</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.company.name">Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.company.region">Region</span></dt>
        <dd>
          <span>{{ company.region }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.company.country">Country</span></dt>
        <dd>
          <span>{{ company.country }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.company.status">Status</span></dt>
        <dd>
          <span>{{ company.status }}</span>
        </dd>
        <dt><span jhiTranslate="partnerizeApp.company.card">Card</span></dt>
        <dd>
          <div *ngIf="company.card">
            <a [routerLink]="['/card', company.card.id, 'view']">{{ company.card.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
